.container {
  flex: 1;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.center {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
}
.zone1 {
  top: 0px;
  left: 0px;
  right: 0px;
  height: 50px;
  position: absolute;
  background-color: red;
}
.zone2 {
  left: 0px;
  right: 0px;
  bottom: 0px;
  height: 50px;
  position: absolute;
  background-color: blue;
}
